body {
  background: silver;
  padding: 0;
  margin: 0;
}
.panel { padding: 20px;}
.panel img { height: 270px;}
.meter { padding: 20px;}
.meter img { border: 20px solid #4B4B4B;}
.toggles { margin-left: 50px;}
.scheme img { width: 330px;}
#spear {
  position: absolute; /* позиция элемента не зависит от других элементов */
  display: inline-block; /* элемент становится строчно-блочным, то есть не переносит строку */
  left: 80px; /* если бы не было свойства position, надо было бы писать margin-left */
  top: 150px;
}
