.knob {
	display: inline-block;
	position:relative; /* позиция зависит от расположения других элементов */
	margin: 0px 50px 0px 170px; 
	width:83px;
	height:83px;
	background-color: #555;
	background-image: linear-gradient(to right, #5F5F5F, #878787);
	border-radius: 2.5em; /* скругление */
}
.knob .top {
	position:absolute;
	top:0;
	left:0;
	width:83px;
	height:83px;
	background:url('knob.png') no-repeat;
	z-index:10;
	cursor:default !important;
}

.knob .base {
	width:83px;
	height:83px;
	border-radius:50%;
	box-shadow:0 5px 0 #4a5056,5px 5px 5px #000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.knob .top:after {
	content:'';
	width:10px;
	height:10px;
	background-color:#4a5056;
	position:absolute;
	top:50%;
	left:10px;
	margin-top:-5px;
	border-radius: 50%;
	cursor:default !important;
	box-shadow: 0 0 1px #5a5a5a inset;
}

.knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
